{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard"
  ],
  "env"     : {
    "node" : true
  },
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false
  },
  "rules": {
    "semi" : [2, "always"],
    "comma-dangle": [0, "never"]
  }
}
